header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex: 1;
  margin-top: -80px;
}

header svg {
  display: block;
  height: 100%;
  flex: 1;
}

.header-tab {
  font-size: 20px;
  cursor: pointer;
  background: white;
  border: 0;
  outline: 0;
}

.tabgroup-container {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex: 1;
}

.badge {
  position: absolute;
  top: 0px;
  right: 10px;
}

.badge p {
  background-color: #1976d2;
  border-radius: 100%;
  width: 16px;
  font-size: 12px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid 1px black;
}
